[submodule "extern/tinyxml2"]
	path = extern/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git

[submodule "extern/BAST"]
	path = extern/BAST
	url = https://github.com/CLEARSY/BAST.git

[submodule "POGLIB"]
	path = extern/POGLIB
	url = https://github.com/CLEARSY/POGLIB
	branch = main
