name: Check Test References

on:
  push:
    paths:
      - 'test/output/reference/**/*.smt'
  pull_request:
    paths:
      - 'test/output/reference/**/*.smt'

jobs:
  smtlib-27-check:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/clearsy/dolmen:latest

    steps:
      - name: Checkout and check
        run: |
          cd /home/opam
          mkdir work
          git clone --single-branch --branch ${{ github.head_ref || github.ref_name }} https://github.com/${{ github.repository }}.git work
          cd work
          git log --oneline -n 10
          pwd
          ls -al /home/opam/work/scripts/
          /home/opam/work/scripts/check_reference_files.sh /home/opam/work/test/output/reference
